<footer class="footer is-size-7 has-text-centered py-4">
    <div class="block">
        <span class="icon-text is-justify-content-space-between is-align-items-center">
            <span class="icon is-large">
                <img src="/esip.png">
            </span>
            <span>
                An <a href="https://www.esip.org/">ESIP</a> supported project.
            </span>
        </span>
        <p>Any opinions, findings, and conclusions or recommendations expressed in this material are those of the
            author(s) and do not necessarily reflect the views of ESIP.</p>
    </div>

    <div class="block">
        <p>Maintained by the <a href="https://github.com/GeoPiper">GeoPiper</a> Team. The data will follow.</p>
        <p>&copy; 2023 GeoPiper</p>
    </div>
</footer>
