<!-- Navigation -->
<nav id="nav-bar" class="navbar is-primary is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="container">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://geopiper.github.io"><img src="/logo.png" style="filter: brightness(0) invert(1);"></a>
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarItems">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarItems" class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item" href="#about">About</a>
      <a class="navbar-item" href="#team">Team</a>
      <a class="navbar-item" href="#contact">Contact</a>
    </div>
  </div>
  </div>
</nav>
