<h1 class="title is-1">Our Team</h1>
<div class="tiles columns">

    <div class="tile is-ancestor is-vertical">

        <!-- Row 1 -->
        <div class="tile is-parent">
            <div class="tile is-child">
                <div class="card m-3">
                    <div class="card-image">
                        <figure class="image is-square">
                            <img src="/team/mike.png">
                        </figure>
                    </div>
                    <div class="card-content has-text-centered">
                        <p class="subtitle">Mike Johnson</p>
                        <span class="tag is-link">Lynker</span>
                    </div>
                </div>
            </div>

            <div class="tile is-child">
                <div class="card m-3">
                    <div class="card-image">
                        <figure class="image is-square">
                            <img src="/team/justin.png">
                        </figure>
                    </div>
                    <div class="card-content has-text-centered">
                        <p class="subtitle">Justin Singh-M.</p>
                        <span class="tag is-link">Lynker</span>
                    </div>
                </div>
            </div>

            <div class="tile is-child">
                <div class="card m-3">
                    <div class="card-image">
                        <figure class="image is-square">
                            <img src="/team/angus.png">
                        </figure>
                    </div>
                    <div class="card-content has-text-centered">
                        <p class="subtitle">Angus Watters</p>
                        <span class="tag is-link">Lynker</span>
                    </div>
                </div>
            </div>

            <div class="tile is-child">
                <div class="card m-3">
                    <div class="card-image">
                        <figure class="image is-square">
                            <img src="/team/jim.png">
                        </figure>
                    </div>
                    <div class="card-content has-text-centered">
                        <p class="subtitle">James Coll</p>
                        <span class="tag is-link">Lynker</span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Row 2 -->
        <div class="tile is-parent">
            <div class="tile is-child">
                <div class="card m-3">
                    <div id="funding-logo" class="card-image">
                        <figure class="image">
                            <img src="/lynker.png">
                        </figure>
                    </div>
                    <div class="card-content has-text-centered">
                        <p class="subtitle">Lynker</p>
                        <span class="tag is-primary">Funding and Support</span>
                    </div>
                </div>
            </div>

            <div class="tile is-child">
                <div class="card m-3">
                    <div id="funding-logo" class="card-image">
                        <figure class="image">
                            <img src="/esip.png">
                        </figure>
                    </div>
                    <div class="card-content has-text-centered">
                        <p class="subtitle">Earth Science Information Partners</p>
                        <span class="tag is-primary">Funding and Support</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
